.titre_dash {
    text-align: center;
}

.form_produit {
    margin: 0 auto;
    /*border: 1px solid orange;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.contenair_nav_dash {
    display: flex;
    width: 650px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.nav_dash {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.add {
    display: flex;
    width: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.btn_produit {
    display: flex;
    width: 50px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.formulaire_produit {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.titre_dash {
    text-align: center;
    margin: 10px 0px;
}

.form_fiche_produit {
    margin: 0 auto;
    /*border: 1px solid orange;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.formulaire_fiche_produit {
    display: flex;
    flex-direction: column;
    width: 500px;
}