:root {
    --color-red: #D31E44;
    --color-black: #202020;
    --color-white: #ffffff;
    --color-grey: #afafaf;
}

*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* end reset */
main {
    margin-top: 5%;
    margin-bottom: 10%;
}

.container-categories-vetement {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 2% 2% 2%;
}

.categories-vetement {
    width: 40%;
    margin: auto;
    margin-top: 3%;
}

figcaption {
    font-size: 1.5rem;
    font-weight: bolder;
}

p {
    font-size: 1.1rem;
}

.vetement-similaire-prix,
.vetement-similaire-titre,
.vetement-similaire-couleur {
    font-family: var(--font-Poppins);
}

.vetement-similaire-titre {
    font-size: 1.2rem;
}

.vetement-similaire-prix,
.vetement-similaire-couleur {
    font-size: 0.9rem;
}


.vetement-similaire {
    width: 40%;
    margin: auto;
    margin-top: 3%;
}

.vetement-similaire-figure {
    position: relative;
}

.panier {
    width: 10%;
    position: absolute;
    top: 5%;
    left: 85%;
}