:root {
    --color-red: #D31E44;
    --color-black: #202020;
    --color-white: #ffffff;
    --color-grey: #afafaf;
    --font-Poppins: Poppins-Regular;
}

*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* end reset */

main {
    margin-bottom: 10%;
}

.categories-titre {
    color: var(--color-black);
    font-size: 1.5rem;
    font-family: var(--font-Poppins);
    margin-bottom: 2%;
}

.categories-liste {
    height: 50px;
    background: var(--color-red);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    gap: 5%;
    flex-wrap: wrap;
    font-family: var(--font-Poppins);
}

.chemin {
    font-size: 0.8rem;
    font-family: var(--font-Poppins);
}

.container-categories-vetement {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 2% 2% 2%;
}

.categories-vetement {
    width: 40%;
    margin: auto;
    margin-top: 3%;
}

figcaption {
    font-size: 1rem;
    font-weight: bolder;
    font-family: var(--font-Poppins);
}

.categories-liste-p {
    font-size: 0.8rem;
    font-family: var(--font-Poppins);
}

.vetement-similaire-prix,
.vetement-similaire-titre,
.vetement-similaire-couleur {
    font-family: var(--font-Poppins);
}

.vetement-similaire-titre {
    font-size: 1.2rem;
}

.vetement-similaire-prix,
.vetement-similaire-couleur {
    font-size: 0.9rem;
}


.vetement-similaire {
    width: 40%;
    margin: auto;
    margin-top: 3%;
}

.vetement-similaire-figure {
    position: relative;
}

.panier {
    width: 10%;
    position: absolute;
    top: 5%;
    left: 85%;
}