:root {
    --color-red: #D31E44;
    --color-black: #202020;
    --color-white: #ffffff;
    --color-grey: #afafaf;
    --font-Poppins: Poppins-Regular;
}

*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* end reset */

.background-titre-categories {
    background: var(--color-red);
}

.categories-titre {
    padding: 20px;
    color: var(--color-white);
    font-size: 1.5rem;
    font-family: var(--font-Poppins);
    margin-bottom: 2%;
    font-weight: bolder;
    margin-top: 1.5%;
    text-transform: uppercase;
}

.chemin {
    font-size: 0.8rem;
    font-family: var(--font-Poppins);
}

.container-categories-vetement {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 2% 2% 2%;
}

.categories-vetement {
    width: 40%;
    margin: auto;
    margin-top: 3%;
}

figcaption {
    font-size: 1rem;
    font-weight: bolder;
    font-family: var(--font-Poppins);
}

.img-produit {
    margin: auto;
    object-fit: cover;
}

.vetement-similaire-prix,
.vetement-similaire-titre,
.vetement-similaire-couleur {
    font-family: var(--font-Poppins);
}

.vetement-similaire-titre {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
}

.vetement-similaire-prix {
    font-size: 0.9rem;
}


.vetement-similaire {
    width: 40%;
    margin: auto;
    margin-top: 3%;
}

.vetement-similaire-figure {
    position: relative;
}

.liste-categories {
    background: var(--color-red);
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2% 0% 2% 0%;
}

.categories-liste-p {
    font-size: 1rem;
    font-family: var(--font-Poppins);
    color: var(--color-white);
}

.h1-categories-accueil {
    color: var(--color-white);
}