:root {
    --color-red: #D31E44;
    --color-black: #202020;
    --color-white: #ffffff;
    --color-grey: #afafaf;
    --font-Poppins: Poppins-Regular;
}

*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* end reset */
main {
    margin-top: 3%;
}

.picture-produit {
    width: 90%;
    padding: 5%;
    display: flex;
    justify-content: center;
    margin: auto;
    order: 2;
}

.order {
    display: flex;
    flex-direction: column;
}

.color-red-name-produit {
    color: var(--color-red);
}

.chemin-produit-hover:hover {
    color: var(--color-red);
}

.container-information-produit {
    margin: 0% 5% 0% 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-produit {
    display: flex;
    justify-content: center;
    margin: auto;
}

.figure-picture-produit {
    display: flex;
    flex-direction: column;
}

.chemin-produit {
    font-size: 1rem;
    margin: auto;
    margin-bottom: 2%;
    color: var(--color-black);
    font-family: var(--font-Poppins);
    margin-top: -50px;
    text-align: center;
}

.h1-produit-name {
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    color: var(--color-black);
    text-transform: uppercase;
}

.prix {
    font-family: var(--font-Poppins);
}

.taille,
.couleur {
    display: flex;
    flex-direction: column;
}

.taille p,
.couleur p {
    font-family: var(--font-Poppins);
}


.taille select,
.couleur select {
    padding: 2%;
    border: 0.5px solid;
    border-radius: 20px;
    font-family: var(--font-Poppins);
}

.btn-produit {
    background: var(--color-red);
    border: none;
    color: var(--color-white);
    display: flex;
    margin: auto;
    padding: 2%;
    border-radius: 20px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-family: var(--font-Poppins);
}

.text {
    text-align: justify;
    font-family: var(--font-Poppins);
}

/* end section 1 */

.section2 {
    margin-top: 5%;
    margin-bottom: 10%;
}

.h2-section2-titre {
    text-align: center;
    margin-bottom: 5%;
    background: var(--color-red);
    height: 70px;
    color: var(--color-white);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--font-Poppins);
}

.container-produit-similaire {
    display: flex;
    flex-wrap: wrap;
}

.vetement-similaire-prix,
.vetement-similaire-titre,
.vetement-similaire-couleur {
    font-family: var(--font-Poppins);
    text-align: center;
}

.vetement-similaire-titre {
    font-size: 1.2rem;
    font-weight: 800;
}

.vetement-similaire-prix,
.vetement-similaire-couleur {
    font-size: 0.9rem;
}


.vetement-similaire {
    width: 40%;
    margin: auto;
    margin-top: 3%;
}

.vetement-similaire-figure {
    position: relative;
}

.panier {
    width: 10%;
    position: absolute;
    top: 5%;
    left: 85%;
}

.picture-similaire-size {
    height: 300px;
    width: auto;
    object-fit: contain;
}