:root {
    --color-red: #D31E44;
    --color-black: #202020;
    --color-white: #ffffff;
}

.text_commande, .error {
    text-align: center;
}

.text_commande {
    margin-top: 30px;
}

.error {
    margin: 10px;
}

form {
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 3px;
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 10px);
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button.finaliser-commande-btn {
    width: 100%;
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 600px) {
    form {
    width: 350px;
    } 

}
    
