body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.cadre {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    border-top: 2px solid #D31E44;
    border-bottom: 2px solid #D31E44;
    width: 800px;

}


.text_rouge01 {
    color: #D31E44;
    background: white;
    padding: 10px 20px;
    position: absolute;
    top: 45px;
    left: 35vw;
    margin-top: 50px;
}

.text_rouge {
    color: #D31E44;
    text-align: center;
}

.panier {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;

   
}


div.details_panier {
    width: 300px;
    padding: 20px;
}

.produit_colonne {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 300px;
}

.recap_panier {
    display: flex;
    text-align: left;
}

.recap_text p {
    text-align: left;
    width: 150px;
}

p:first-child,
p:last-child {
    margin-top: 0;
}

.price {
    color: #D31E44;
    font-weight: bold;
}

p:first-child {
    font-weight: bold;
}

.total_cde {
    display: flex;
    justify-content: space-between;
}

.details_panier {
    align-items: space-between;
}

.cde {
    background-color: #D31E44;
    border: none;
    border-radius: 10px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 30px;

}

.aussi {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    align-items: center;

}

.meme_categorie {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 1204px) {
    .text_rouge01 {
        margin-top: 39px;
    }

    .aussi {
        margin-top: 50px;
    }
}

@media (max-width: 900px) {
    .cadre {
        width: 600px;
    }

    .panier {
        width: 580px;
    }

    .aussi {
        margin-top: 40px;
    }

    .text_rouge01 {
        font-size: 1.2rem;
    }

    .text_rouge {
        font-size: 1.1rem;
    }

    .recap_text p,
    .total_commande p {
        font-size: 0.8rem;
    }

    div.details_panier {
        width: 250px;
    }

    .meme_categorie img {
        width: 180px;
    }

}

@media (max-width: 650px) {
    .text_rouge01 {
        margin-top: 47px;
    }

    .cadre {
        width: 450px;
        height: 180px;
    }

    .panier {
        width: 400px;
        height: 180px;
    }

    div.details_panier {
        width: 180px;
    }


    .recap_panier img {
        width: 90px;
    }

    .total_commande p {
        font-size: 0.7rem;
    }

    .meme_categorie img {
        width: 150px;
    }

}

@media (max-width: 500px) {
    .text_rouge01 {

        margin-top: 47px;
    }

    .total_commande p {
        font-size: 0.7rem;
    }

    .cadre {
        width: 250px;
        height: 300px;

    }

    .panier {
        flex-direction: column;
        width: 150px;
        height: 300px;
        margin: 0 auto;
    }

    .details_panier {
        width: 150px
    }

    .meme_categorie img {
        width: 120px;
    }

}