body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.text_mon_panier {
    color: #D31E44;
    background: white;
    padding: 10px 20px;
    position: absolute;
    top: 49px;
    left: 35%;
    margin-top: 50px;
}
.cadre {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    border-top: 2px solid #D31E44;
    border-bottom: 2px solid #D31E44;
    width: 1000px;
}

.panier {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0px 40px 20px;
    width: 700px;
}

.recap_panier {
    display: flex;
    gap: 20px;
}

div.quantite {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.gestion_quantité {
    display: flex;
    align-items: center;
}

div.align_quantite p {
    width: 80px;
    text-align: center;
    border: 1px solid #D31E44;
}


.augmenter_produit button,
.diminuer_produit button {
    color: #D31E44;
    font-size: 1.5rem;
    font-weight: bold;
    width: 20px;
    background-color: #ffffff;
    border: 1px solid #D31E44;
    border-radius: 3px;
    
}

.supprimer_produit button {
    color: white;
    font-weight: bold;
    background-color: #D31E44;
    border: none;
    border-radius: 10px;
    padding: 5px 25px;
    text-align: left;
}

 div.commander {
    width: 300px;
    padding: 20px;
}

.total_cde {
    display: flex;
    justify-content: space-between;
}

.cde {
    background-color: #D31E44;
    border: none;
    border-radius: 10px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 30px;
    padding: 5px 0;
}

.aimerez_aussi {
    color: #D31E44;
    text-align: center;
}

.meme_categorie {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 1204px) {
    .cadre {
       width: 850px;
    }

    .panier {
        width: 550px;
    }

    div.commander {
        width: 300px;
        padding: 20px;
    }
    
    .text_mon_panier {
        margin-top: 39px;
    }

    .aussi {
        margin-top: 50px;
    }
}

@media (max-width: 900px) {
    .cadre {
        width: 600px;
        flex-direction: column;
    }

    .panier {
        width: 600px;
    }

    div.commander {
        width: 100%;
        padding: 20px;
    }

    .aussi {
        margin-top: 40px;
    }

    .text_rouge01 {
        font-size: 1.2rem;
    }

    .text_rouge {
        font-size: 1.1rem;
    }

    .recap_text p,
    .total_commande p {
        font-size: 0.8rem;
    }

    .meme_categorie img {
        width: 180px;
    }

}

@media (max-width: 650px) {
    
    .text_mon_panier {
        margin-top: 47px;
    }

    .cadre {
        width: 400px;
    }

    .panier {
        width: 450px;
    }

    .quantite {
       flex-direction: column;
    }

    .recap_panier img {
        width: 90px;
    }

    .meme_categorie img {
        width: 150px;
    }
}

@media (max-width: 500px) {
    
    .cadre {
        width:340px;
    }

    .panier {
        flex-direction: column;
        width: 340px;
    }

    .recap_text {
        width: 200px;
    }
    
    .supprimer_produit button {
        font-size: 0.7rem;
    }

    .meme_categorie img {
        width: 120px;
    }

}