* {
    margin: 0;
    padding: 0;
}

.dely_map_secure {
    display: flex;
    background-color: #D31E44;
    justify-content: center ;
    align-items: center;
    height: 70px;
    gap: 2%;
    margin: 2% 0;
    text-align: center;
}

.text_icon_footer p {
    color:rgb(255, 255, 255);
    font-size: 0.9rem;
}


.icon_footer {
    width: 200px;
}

img.icon_footer_align {
    margin: 0 auto;
}


@media (max-width: 1920px) {
    
    img.icon_footer_align {
        height: 30px;
    }
}

@media (max-width: 1204px) {

    p.footer-p {
        font-size: 0.8em;
    }
}

@media (max-width: 400px) {
    img.icon_footer_align {
        height: 25px;
    }

    .dely_map_secure {
        gap: 15px;
    }
}