* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.rubrique {
    display: flex;
    font-size: 0.8rem;
    font-weight: bolder;
    gap: 8%;
    width: 350px;
}

.menuCouleur a {
    color: #D31E44;
}

.rubrique a {
    text-decoration: none;
    color: black;
    
}

.navBar_droite {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.form {
    display: flex;
}


@media (max-width: 1920px) {
    
    
    .rubrique {
        font-size: 1.5rem;
        width: 55%;
        margin-left: 3%;
    }

    .logoOnline img {
        width: 120px;
    }

    .navBar_droite {
        width: 160px;
    }

    .navBar_droite img {
        width: 26px;
    }
}
    .navBar_gauche {
    display: none; 
}

@media (max-width: 1204px) {
    .navBar_gauche {
        display: none
    }
    .rubrique {
        font-size: 0.9rem;
    }
}


@media (max-width: 768px) {
    
    .navBar_gauche img {
        width:40px;
    }

    .rubrique {
        display: none;
    }

    .navBar_droite {
        margin-top: 10px;
        width: 90px;

    }

    .logoOnline {
        margin-left: 0;
    }

    .navbar div:first-child {
        display: flex;
    }
}


@media (max-width: 480px) {
    .navbar {
        padding: 10px;
    }

    .navBar_droite div img {
        width: 20px;
    }

    .logoOnline img {
        width: 60px;
    }
}